.contact-form {
    width: 100%;
    margin-top: 100px;
    align-items: center;
    
}

    ul {
      padding: 0;
      margin: 0;
    }
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
      }
  
      li.half {
        width: 50%;
        margin-left: 2%;
        float: left;
        clear: none;
      } 

      li.half {
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
        }
        
       li.subject  {
          -webkit-box-shadow: 5px 5px 15px 5px #000000; 
          box-shadow: 5px 5px 15px 5px #000000;
          }
      
    
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: white;
      height: 50px;
      font-size: 16px;
      color: black;
      padding: 0 20px;
      box-sizing: border-box;
    }

    input[type='text'],
    input[type='Subject'] {
      width: 100%;
      border: 0;
      background: white;
      height: 50px;
      font-size: 16px;
      color: black;
      padding: 0 20px;
      box-sizing: border-box;
    }

  .text-zone p {
    text-shadow: 2px 2px 12px black;
    margin-left: 20%;
    margin-top: 100px;
  }
  
    textarea {
      width: 50%;
      border: 10;
      background: white;
      height: 50px;
      font-size: 16px;
      color: black;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
      -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
        margin-left: 2%;
    }
  
    /* .flat-button {
      color: black;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid black;
      float: left;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;
      -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
    }

    .flat-button:active {
      background: gold;
    }

    .flat-button:hover {
      background: white;
    } */

    .container .flat-button {
      font-size: 40px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid #ffd700;
      border-radius: 15px;
      background: 0 0;
      text-transform: uppercase;
      text-align: center;
      
      background-color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
      color: #333;
  }
  
  .container .flat-button:hover {
      background-color: var(--secondary-dark);
      border: 1px solid var(--secondary-dark);
  }
  
  
  .map-wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 53%;
    height: 115%;
    margin-top: -3%;
  }
  
  .leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
  }
  
  .info-map {
    position: absolute;
    background: #000;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
  }
    span {
      font-size: 16px;
    }
      span {
        color: white;
      }
    
  
  
  @media screen and (max-width: 1200px) {
    .map-wrap {
      float: none;
      margin: 0;
      width: 100%;
      height: 400px;
    }
    
    .info-map {
      display: none;
    }
  }