.mw{
    padding: 100p 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.mw-text{
    width: 65%;

}

.mw-title{
  margin-top: 50px;
  font-size: 3rem;
  text-shadow: 2px 2px 12px black;}
  

.mw-description{
    margin: 20px 0px;
    color: black;
    text-shadow: 2px 2px 12px black;
    
}

.mw-list{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}



@media screen and (max-width: 1200px) {
    .mw {
      padding: 10px;
    }
  
    .mw-text {
      width: 50%;
    }
  
    .mw-description {
      display: none;
    }
  

}